/* SUMMARY
    1. GLOBAL
    2. LAYOUT
    3. SECTION
    4. CARD
*/

/*** 1. GLOBAL ***/

/* Reset / Normalize */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}
main, h1, h2, h3, h4, h5, h6, a, button, input, optgroup, select, textarea {
    display: block;
    font-family: inherit;
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
}

/* Variables */
:root {
    --color-primary: #D73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-grey: #a0a0a0;
    --font-family-base: 'Open Sans', sans-serif;
    --font-family-title: 'Raleway', sans-serif;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --line-height-small: 1.2;
    --line-height-base: 1.5;
    --button-hover-background: var(--color-primary);
}

/* Base */
*, *:before, *:after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/* Typography & Links */
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/*** 2. LAYOUT ***/

/* Container */
.container {
    width: 960px;
    margin: 0 auto;
}

/* Grid */
.row {
    display: flex;
    margin: -1rem;
    padding: 0;
    list-style: none;
}
[class*='col-'] {
    margin: 1rem;
}
.col-1-3 {
    width: calc(33.333% - 2rem);
}
.col-1-2 {
    width: calc(50% - 2rem);
}

/* Navbar */
.nav {
    display: flex;
    text-align: center;
    list-style: none;
    font-weight: var(--font-weight-bold);
}
.nav-item + .nav-item {
    margin: 0 0 0 2rem;
}

/*** 3. SECTION ***/

/* Section Layout */
.section {
    padding: 5rem 0;
}
.section-header {
    text-align: center;
    padding: 0 0 3rem;
}
.section-title {
    font-size: var(--font-size-xx-large);
    color: var(--color-black);
}

/* Hero Section */
.section-hero {
    position: relative;
    background-image: url(images/banner-home.jpg);
    background-size: cover;
    padding: 10rem 4rem;
}

/* Section with Dark Theme */
[data-section-theme="dark"] {
    background: var(--color-black);
    color: var(--color-white);
}

/*** 4. CARD ***/

/* Card Layout */
.card {
    padding: 1rem;
    border: 1px solid var(--color-grey);
}
.card-category {
    color: var(--color-primary);
}

