.post-content img {
    width: 100%;
    height: auto;
}

.post-content .img-caption {
    margin: 1rem 0;
    padding: 0 .5rem;
}

.post-content p:first-child {
    font-size: var(--font-size-x-large);
}

